node_modules
dist
build
.env

# macOS
.DS_Store

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/*.code-snippets

# JetBrains
.idea

# Symlinks
src/api/eodiro-one-api/db-schema

# eodiro specific
.eodiro/*
!.eodiro/README.md
/storage
/data
**/config/index.ts
generated
**/config/index.ts
**/env/index.ts

# Prisma
src/prisma
